<div class="wrapper-house-models">
  <app-filter
    class="m-3"
    [filter]="filter$ | async"
    (filterUpdate)="onFilterUpdate($event)"
  ></app-filter>
  <accordion
    [items]="houseListing$ | async"
    [accordionTemplateItem]="accordionTemplate"
    [itemLabelRef]="itemLabel"
  >
  </accordion>
</div>

<ng-template #accordionTemplate let-item>
  <app-house-models [houseModels]="item"></app-house-models>
</ng-template>
<ng-template #itemLabel let-item>
  {{'House model ' + item.id}}
</ng-template>
