<div class="card">
  <div class="card-body">
    <div class="wrapper-house-models">
      <div class="action-bar d-flex flex-row justify-content-between mb-3">
        <app-filter
          class="f"
          [filter]="filter$ | async"
          (filterUpdate)="onEmitFilter($event)"
          [blockNumberData]="(filterSource$ | async)?.blockNumber"
          [landNumberData]="(filterSource$ | async)?.landNumber"
        >
        </app-filter>
        <div class="action-btn d-flex">
          <ng-container [ngTemplateOutlet]="actionRef"> </ng-container>
        </div>
      </div>
      <accordion
        [items]="houseListing$ | async"
        [accordionTemplateItem]="accordionTemplate"
        [itemLabelRef]="itemLabel"
      >
      </accordion>
    </div>
  </div>
</div>

<ng-template #accordionTemplate let-item>
  <app-house-models [houseModels]="item" [thRef]="thRef" [tdRef]="tdRef">
  </app-house-models>
</ng-template>
<ng-template #itemLabel let-item>
  {{ "House model " + item.id }}
</ng-template>
