<form [formGroup]="formGroup" class="d-flex m-0">
  <div class="mb-0 mr-2">
    <select
      class="form-select form-control form-control-sm"
      formControlName="blockNumber"
      aria-label="Default select example"
      aria-placeholder="Block Number"
    >
      <option *ngFor="let item of blockNumberData" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="mb-0 mr-2">
    <select
      class="form-select form-control form-control-sm"
      formControlName="landNumber"
      aria-label="Default select example"
      aria-placeholder="Land Number"
    >
      <option *ngFor="let item of landNumberData" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="mb-0 mr-2">
    <select
      class="form-select form-control form-control-sm"
      formControlName="minPrice"
      aria-label="Default select example"
      aria-placeholder="Min Price"
    >
      <option *ngFor="let item of minPriceValues" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="mb-0 mr-2">
    <select
      class="form-select form-control form-control-sm"
      formControlName="maxPrice"
      aria-label="Default select example"
      aria-placeholder="Max Price"
    >
      <option *ngFor="let item of maxPriceValues" [value]="item">{{item}}</option>
    </select>
  </div>
</form>
