<div class="house_models">
  <div class="house_models__media">
    <div class="house_models__media__left">
      <h1 class="media__title">{{ houseModels?.attributes?.media?.title }}</h1>
      <p class="media__descriptions">
        {{ houseModels?.attributes?.media?.description }}
      </p>
    </div>
    <div class="house_models__media__right">
      <img
        class="img-fluid"
        [src]="houseModels?.attributes?.media?.banner"
      />
    </div>
  </div>
  <div class="house_models__house-listing">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">House Number</th>
          <th scope="col">Block Number</th>
          <th scope="col">Land Number</th>
          <th scope="col">Price</th>
          <ng-container [ngTemplateOutlet]="thRef"></ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of houseModels?.houses ; index as i">
          <td>{{ item.attributes.house_number }}</td>
          <td>{{ item.attributes.block_number }}</td>
          <td>{{ item.attributes.land_number }}</td>
          <td>{{ item.attributes.price }}</td>
          <ng-container
            [ngTemplateOutlet]="tdRef"
            [ngTemplateOutletContext]="{ $implicit: item, index: i }"
          >
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
