:host {
    .house_models{
        padding: 10px;
        &__media{
            display: flex;
            &__left{
                flex: 1;
                padding-right: 10px;
            }
            &__right{
                flex: 1;
            }
            margin-bottom: 20px;
        }
    }
}
