@import "../../../../assets/scss/boostrap/functions";
@import "../../../../assets/scss/boostrap/variables";
:host {
  %default-toast {
    position: absolute;
    top: 0;
    right: 0rem;
    margin: 2rem;
    display: inline-flex;
    min-width: 260px;
    min-height: 70px;
    max-height: 70px;
    box-shadow: 6px 6px 12px #00000040;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-left: 6px solid black;
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  .toast-class {
    @extend %default-toast;
  }
  .success-toast {
    @extend %default-toast;
    border-left: 6px solid $success;
  }

  .warning-toast {
    @extend %default-toast;
    border-left: 6px solid $warning;
  }

  .danger-toast {
    @extend %default-toast;
    border-left: 6px solid $danger;
  }
}
