<form #f="ngForm" class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Oivan Vietnam</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <div class="input-group" *ngIf="!isAuthenticated">
        <input type="text" name="username" #username="ngModel" ngModel required class="form-control mr-md-3" placeholder="Username" aria-label="Username">
        <input type="password" name="password" #password="ngModel" ngModel required class="form-control" placeholder="Password" aria-label="Password">
      </div>
      <h6 *ngIf="isAuthenticated" class="mr-md-auto font-weight-normal">Welcome back!</h6>
    </nav>
    <button *ngIf="!isAuthenticated" class="btn btn-outline-primary" [disabled]="f.invalid" (click)="signIn(f)">Sign in</button>
    <button *ngIf="isAuthenticated" class="btn btn-outline-primary" (click)="signOut()">Sign out</button>
</form>