@import "../../../../../assets/scss/boostrap/functions";
@import "../../../../../assets/scss/boostrap/variables";
:host {
  .accordion-item {
    border-bottom: $card-border-width solid $card-border-color;
    border-left: $card-border-width solid $card-border-color;
    border-right: $card-border-width solid $card-border-color;

    &--title {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      text-align: left;
    }
    &--container {
      padding: 10px;
    }
  }
  .accordion-item:first-child{
    border-top: $card-border-width solid $card-border-color;
  }
  
  .mypanel .body.hidden {
    display: none;
  }
  .active {
    background-color: rgb(147, 214, 231);
  }
}
