<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="mb-2"
          src="./Pricing example for Bootstrap_files/bootstrap-solid.svg"
          alt=""
          width="24"
          height="24"
        />
        <small class="d-block mb-3 text-muted">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Cool stuff</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Random feature</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Team feature</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Stuff for developers</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Another one</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Last time</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Resource</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Resource name</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Another resource</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Final resource</a
            >
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Team</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Locations</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Privacy</a
            >
          </li>
          <li>
            <a
              class="text-muted"
              href="https://getbootstrap.com/docs/4.1/examples/pricing/#"
              >Terms</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>